# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
.vscode/
test_python.py

# Build
build/
build_release/
dist/
doxygen/
search/
*.egg-info/
CMakeFiles/
CMakeCache.txt
cmake-build-*/
CTest*
*.log

# OS
.DS_Store

# clangd
*.idx

Doxyfile
*.so
README.pdf
