name: CI

on:
  push:
  pull_request:

jobs:
  build_and_test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install build tools
        run: |
          sudo apt-get update
          sudo apt-get install -y cmake ninja-build g++
      
      - name: Install Python dep
        run: |
          python3 -m pip install --upgrade pip
          pip install pytest numpy sphinx sphinx-rtd-theme scikit-learn
          pip install .

      - name: Configure (CMake)
        run: |
          cmake -S . -B build -G Ninja \
            -DCMAKE_BUILD_TYPE=Release

      - name: Build
        run: |
          cmake --build build --config Release
          cp build/_arboria*.so arboria/

      - name: Test (CTest)
        run: |
          ctest --test-dir build --output-on-failure

      - name: Test (pytest)
        run: |
          pytest

      - name: Build doc
        run: |
          sphinx-build -b html docs/source docs/build
